.task__small-card{
    &-top{
        display: flex;
        justify-content: space-between;
    }
    &-text{
        max-width: 133px;
    }

    &-manager{
        display: flex;
        justify-content: end;
    }
}